$bg1: #f3f1e8;
$bg2: #c6dae4;
$header_color: white;
$input_color: white;
$accent: #5fc6ce;
$font_color: #092957;
$font_color_completed: #7498c8;
$checkbox: #1ab280;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(120deg, $bg1 0%, $bg2 100%);
    color: $header_color;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: linear-gradient(13deg, $bg2 19%, $accent 65%);
}
::-webkit-scrollbar-track{
    background: $bg2;
}

/* ===========
    HEADER
=========== */
header {
    font-size: 5rem;
    color: $header_color;
    text-shadow: 0 0 15px rgba($color: black, $alpha: .2);
    font-weight: 700;
    width: 100%;
    position: relative;
    text-align: center;

    i {
        margin-left: 20px;
        color: $font_color_completed;
        font-size: 2rem;
        text-shadow: none;
        opacity: 0;
        transition: all .3s ease;
    }
    &:hover {
        i {
            opacity: 1;
        }
    }
}
header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input, form button {
    padding: .5rem;
    font-size: 2rem;
    border: none;
    outline: none;
    background: $input_color;
    box-shadow: 0 0 15px rgba($color: black, $alpha: .2);
}
form input {
    color: $font_color;
    border-radius: 10px 0 0 10px;
    border: 3px solid transparent;
    transition: all .3s ease;

    &:focus, &:hover {
        border: 3px solid $accent;
    }
}
form button {
    color: $accent;
    cursor: pointer;
    background: $input_color;
    border-radius: 0 10px 10px 0;
    border: 3px solid transparent;
    transition: all .3s ease;

    &:hover {
        background: $accent;
        border: 3px solid $accent;
        color: $input_color;
    }
}
/* ===========
    EDIT TODO LIST PROMPT
=========== */
#stfDialogPlace > div > div > div > div {
    border-radius: 20px;

    > button {
        outline: none;

        svg {
            transition: all .3s ease;
        }
        &:hover svg {
            fill: $accent;
        }
    }
    > div {
        color: $font_color;
        background: $input_color;

        > input {
            padding: .35rem;
            font-size: 2rem;
            outline: none;
            background: $input_color;
            color: $font_color;
            border-radius: 10px;
            border: 3px solid transparent;
            transition: all .3s ease;

            &:focus, &:hover {
                border: 3px solid $accent;
            }
        }
        > button {
            outline: none;
            border-radius: 10px;
            padding: .5rem;
            font-size: 1.25rem;
            transition: all .3s ease;

            &:nth-child(1) {
                background: $accent;
                color: $input_color;
                border: 3px solid $accent;

                &:hover {
                    background: $input_color;
                    color: $accent;
                }
            }
            &:nth-child(2) {
                background: $input_color;
                color: $font_color;
                border: 3px solid transparent;

                &:hover {
                    background: $input_color;
                    color: $accent;
                    border: 3px solid $accent;
                }
            }
        }
    }
}
/* ===========
    TODO-LIST
=========== */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    .todo-list {
        min-width: 30%;
        list-style: none;

        .todo {
            margin: .5rem;
            background: $input_color;
            font-size: 1.5rem;
            color: $font_color;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 1s ease;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 15px rgba($color: black, $alpha: .2);

            &.sub {
                margin-left: 20%;
            }
            &.invisible {
                display: none;
            }
            > i {
                color: $font_color_completed;
                margin: 0 10px;
                transition: all .3s ease;

                &.fa-equals {
                    opacity: 0;
                }
            }
            li {
                flex: 1;
                padding: 0 .5rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.completed {
                    text-decoration: line-through;
                    color: $font_color_completed;
                }
            }
            .trash-btn, .complete-btn {
                color: $input_color;
                cursor: pointer;
                background: $accent;
                outline: none;
                padding: 1rem;
                font-size: 1rem;
                border: 3px solid $accent;
                transition: all .3s ease;
            
                &:hover {
                    background: $input_color;
                    color: $accent;
                }
                .fa-trash, .fa-check {
                    pointer-events: none;
                }
            }
            .trash-btn {
                border-radius: 0 10px 10px 0;
            }
            .complete-btn {
                background: $checkbox;
                border: 3px solid $checkbox;

                &:hover {
                    background: $input_color;
                    color: $checkbox;
                }
            }
            &:hover {
                i {
                    opacity: 1;
                }
            }
        }
    }
}
/* ===========
    TODO LIST CONTEXT, EXPORT/IMPORT MENU
=========== */
.todo-item-context, .export-menu, .import-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;

    > label {
        font-weight: 600;
    }
    > ul {
        list-style-type: none;
        align-self: flex-start;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        > li {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 5px;

            i, input, h4 {
                margin-right: 10px;
            }
            h4 {
                flex: 1;
            }
        }
    }
    > button {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $font_color;
        cursor: pointer;
        border-radius: 10px;
        padding: .5rem;
        font-size: 1.25rem;
        font-weight: 600;
        background: $input_color;
        border: 3px solid transparent;
        transition: all .3s ease;
        outline: none;
        width: 100%;

        &:hover {
            background: $input_color;
            border: 3px solid $accent;
            color: $accent;
        }
        &[disabled] {
            color: $font_color_completed;
            pointer-events: none;
        }
        i {
            margin-right: 10px;
        }
        h3 {
            flex: 1;
        }
    }
}
/* ===========
    FILTER SELECTION
=========== */
.filter-todo {
    padding: 1rem;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
}
.select {
    border-radius: 10px;
    margin: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 15px rgba($color: black, $alpha: .2);

    &:after {
        content: "\25BC";
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        color: $input_color;
        background: $accent;
        cursor: pointer;
        pointer-events: none;
    }
    select {
        color: $accent;
        background: $input_color;
        border: 3px solid transparent;
        font-family: 'Poppins', sans-serif;
        outline: none;
        cursor: pointer;
        width: 12rem;
        transition: all .3s ease;

        &:hover {
            background: $accent;
            color: $input_color;
            border: 3px solid $accent;
        }
        option {
            background: $input_color;
            color: $accent;
            border: none;
            outline: none;
        }
    }
}
/* ===========
    INFORMATION
=========== */
.fab-container {
    max-width: 50%;
    max-height: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;

    .floating-btn {
        border-radius: 50%;
        border: 3px solid transparent;
        width: 50px;
        height: 50px;
        background: $accent;
        box-shadow: 0 0 15px rgba($color: black, $alpha: .2);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $input_color;
        cursor: pointer;
        transition: all .3s ease;

        i {
            font-size: 30px;
        }
        &:hover {
            border: 3px solid $accent;
            color: $accent;
            background: $input_color;
        }
    }
    .floating-text {
        font-size: 17px;
        margin-top: 10px;
        color: $font_color;
        font-weight: 600;
        border-radius: 15px;
        padding: 2px 10px;
        background: rgba($color: white, $alpha: .7);
        box-shadow: 0 0 15px rgba($color: black, $alpha: .2);
        backdrop-filter: blur(10px);
        transition: all .3s ease;

        i {
            color: $checkbox;
            font-size: 20px;
            margin-right: 15px;
        }
        a {
            color: $accent;
            text-decoration: none;

            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
}
/* ===========
    UNDO
=========== */
.undo-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
    border-radius: 50%;
    border: 3px solid transparent;
    width: 50px;
    height: 50px;
    background: $accent;
    box-shadow: 0 0 15px rgba($color: black, $alpha: .2);
    justify-content: center;
    align-items: center;
    color: $input_color;
    cursor: pointer;
    transition: all .3s ease;

    i {
        font-size: 25px;
    }
    &:hover {
        border: 3px solid $accent;
        color: $accent;
        background: $input_color;
    }
}
/* ===========
    SETTINGS
=========== */
.settings-container {
    max-width: 50%;
    max-height: 50%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 10;

    .settings-btn {
        border-radius: 50%;
        border: 3px solid transparent;
        width: 50px;
        height: 50px;
        background: $accent;
        box-shadow: 0 0 15px rgba($color: black, $alpha: .2);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $input_color;
        cursor: pointer;
        transition: all .3s ease;

        i {
            font-size: 30px;
        }
        &:hover {
            border: 3px solid $accent;
            color: $accent;
            background: $input_color;
        }
    }
    .settings-menu {
        font-size: 17px;
        margin-top: 10px;
        color: $input_color;
        text-shadow: 0 0 5px rgba($color: black, $alpha: .3);
        border-radius: 15px;
        padding: 10px 10px;
        background: rgba($color: white, $alpha: .7);
        box-shadow: 0 0 15px rgba($color: black, $alpha: .2);
        backdrop-filter: blur(10px);
        transition: all .3s ease;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        > button {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $font_color;
            cursor: pointer;
            border-radius: 10px;
            padding: .5rem;
            font-size: 1.25rem;
            font-weight: 600;
            background: transparent;
            border: 3px solid transparent;
            transition: all .3s ease;
            outline: none;
            width: 100%;

            &:first-child {
                margin-top: 0;
            }
            &:hover, &:focus {
                background: $input_color;
                border: 3px solid $accent;
                color: $accent;
            }
            &[disabled] {
                color: $font_color_completed;
                pointer-events: none;
            }
            i {
                margin-right: 10px;
            }
            h3 {
                flex: 1;
            }
        }
    }
}
/* ===========
    MANUAL
=========== */
.manual {
    max-width: 50%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to top left, $bg1, $bg2);
    z-index: 20;
    padding: 20px 40px;
    color: $font_color;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 15px rgba($color: black, $alpha: .2);
    transform: translateX(100%);
    transition: .3s ease;
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow-x: hidden;
    flex-wrap: wrap;

    &.manual-open {
        transform: translateX(0);
        display: flex;

        .manualClose {
            left: -50px;
            transition: .3s ease;
        }
    }

    .manualClose {
        position: absolute;
        top: 10px;
        left: 0;
        border: 3px solid $accent;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $accent;
        background: transparent;
        font-size: 20px;
        transition: .3s ease;

        &:hover, &:focus {
            background: $accent;
            color: $input_color;
        }
    }
    > h1 {
        color: $accent;
        font-size: 4vw;
    }
    > h2, > h3 {
        margin-top: 10px;
    }
    > hr {
        margin-top: 10px;
    }
    > table {
        > thead {
            > tr {
                > th {
                    border-right: 2px solid $font_color_completed;

                    &:last-child {
                        border: none;
                    }
                }
            }
        }
        > tbody {
            > tr {
                > td {
                    padding: 5px;
                    border-right: 2px solid $font_color_completed;

                    &:last-child {
                        border: none;
                    }
                }
            }
        }
    }
    a, a:visited {
        color: $accent;
        text-decoration: none;
        transition: .3s ease;
    }
    a:hover, a:focus {
        text-decoration: underline;
    }
}



/* ===========
    MOBILE DISPLAY
=========== */
@media (max-width: 700px) {
    header {
        font-size: 10vw;

        i {
            font-size: 5vw;
        }
    }
    header, form {
        width: 100%;
        min-height: 20vh;
        padding: 0 10px;

        input {
            width: 70%;
            position: absolute;
            top: 20vh;
            left: 5%;
        }
        button {
            width: 20%;
            position: absolute;
            top: 20vh;
            right: 5%;
        }
    }
    .todo-list {
        width: 95%;
    }
    .select {
        position: absolute;
        top: 27vh;
    }
    .fab-container {
        max-width: 100%;

        .floating-text {
            width: 100%;
        }
    }
    .settings-container {
        max-width: 100%;

        .settings-menu {
            width: 100%;
        }
    }
    .manual {
        max-width: 100%;
        width: 100%;

        &.manual-open {    
            .manualClose {
                left: auto;
                right: 10px;
            }
        }
    }
}
